<a href="https://colab.research.google.com/github/mdsahidraza917/dmdw_lab/blob/main/Assignments/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



1)
A) Create a Dataframe (size= 3x4) with random integers with explicit indexing.
B) Perform sin(df * pi / 4) operation over the dataframe¶
C) Subtract first value of the dataframe from each elements of the dataframe.
D) Subtract first row of the dataframe from each rows of the dataframe.**bold text**

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(0,100,size=(3, 4)), columns=list('ABCD'))
df

    A   B   C   D
0  15  99  44  51
1  13  26  59   1
2  63  56  97  41

In [2]:
np.sin(df * np.pi / 4)

          A             B             C         D
0 -0.707107  7.071068e-01  4.899825e-15  0.707107
1 -0.707107  1.000000e+00  7.071068e-01  0.707107
2 -0.707107 -1.714506e-15  7.071068e-01  0.707107

In [3]:
df = pd.DataFrame(np.random.randint(0,100,size=(3, 4)), columns=list('ABCD'))
first_value=df.iloc[0][0]
print(df.subtract(first_value, axis = 1))

    A   B   C   D
0   0 -43  16 -76
1 -27  -6   0 -37
2 -43  -9 -67 -10

In [4]:
df = pd.DataFrame(np.random.randint(0,100,size=(3, 4)), columns=list('ABCD'))
first_row=df.iloc[0]
print(df.subtract(first_row, axis = 1))

    A   B   C   D
0   0   0   0   0
1  23  19 -34  69
2  64 -14 -37  -8

2) Write python program:
A) Read a CSV file using pandas data frame.
B) Display the first 8 rows of the data.
C) Display the last 7 rows of the data.
D) Get and display the data types used in this data. Get and display the unique values available under a particular attribute.**bold text**

In [6]:
df = pd.read_csv ('cars.csv')

result = df.head(8)
print(result)

   age  gender  miles   debt  income  sales
0   28       0     23      0    4099    620
1   26       0     27      0    2677   1792
2   30       1     58  41576    6215  27754
3   26       1     25  43172    7626  28256
4   20       1     17   6979    8071   4438
5   58       1     18      0    1262   2102
6   44       1     17    418    7017   8520
7   39       1     28      0    3282    500

In [7]:

print(df.tail(7))

     age  gender  miles   debt  income  sales
956   58       0     23   5842    6019   9130
957   36       0     27   7133   11292  18062
958   22       0     11   8778    9829   1593
959   19       1     23   4850    3470   4742
960   28       1     28   9312    2720  12771
961   50       0     29  51343    8713  28511
962   47       1     15   3735    6406   6104

In [8]:
print(df.dtypes)

age       int64
gender    int64
miles     int64
debt      int64
income    int64
sales     int64
dtype: object

In [9]:
gapminder_csv_url ='http://bit.ly/2cLzoxH'
record = pd.read_csv(gapminder_csv_url)  
print(record['continent'].unique())

['Asia' 'Europe' 'Africa' 'Americas' 'Oceania']

3) Write a python program:
A) Read a dataset (Ex, iris.csv) using pandas data frame.
B) Rename a column.
C) Filter the data using some condition (Ex. sepal length >7.2).
D) Find the mean and standard deviation value for each attribute.

In [14]:
df2 = pd.read_csv("/content/Iris.csv")
print(df2)

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [15]:
print(df2.rename(columns={'sepal.width': 'SEPAL WIDTH'}))

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [20]:
df2[df2['SepalLengthCm'] > 7.2]

      Id  SepalLengthCm  ...  PetalWidthCm         Species
105  106            7.6  ...           2.1  Iris-virginica
107  108            7.3  ...           1.8  Iris-virginica
117  118            7.7  ...           2.2  Iris-virginica
118  119            7.7  ...           2.3  Iris-virginica
122  123            7.7  ...           2.0  Iris-virginica
130  131            7.4  ...           1.9  Iris-virginica
131  132            7.9  ...           2.0  Iris-virginica
135  136            7.7  ...           2.3  Iris-virginica

[8 rows x 6 columns]

In [21]:
df2.std(axis = 1, skipna = True)

0       2.010721
1       1.772005
2       1.754138
3       1.813009
4       2.165179
         ...
145    63.394345
146    64.010335
147    64.344914
148    64.719224
149    65.335924
Length: 150, dtype: float64

In [22]:

df2.mean(axis = 0)

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

4) Write a python program:
A) Read a dataset (Ex, iris.csv) data using pandas data frame.
B) Next, check if there exist any duplicate values.
C) If exist any duplicate values then remove the duplicate values.**bold text**

In [25]:
df2 = pd.read_csv("/content/Iris.csv")
print(df2)

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [26]:
duplicate = df2[df2.duplicated()]
print(duplicate)

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [27]:
df2.drop_duplicates(keep=False,inplace=True)
df2

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

5) Show using a program how to group data in python using pandas.**¶**

In [31]:
df3 = pd.read_csv("/content/Iris.csv")
df3

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [32]:
gk = df3.groupby('Species')
gk.first()

                  Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa        1            5.1           3.5            1.4           0.2
Iris-versicolor   51            7.0           3.2            4.7           1.4
Iris-virginica   101            6.3           3.3            6.0           2.5